{% extends 'home/layout.html' %}
{% load static %}
{% block content %}
<div class="body-container">
    <div class="row">

        <div class="leftcolumn p-5">
            {% for assign in assign %}
                <h2>{{assign.title}}</h2>
                <hr>
                <h3>คำสั่ง: </h3>
                <p style="text-indent: 2em;">{{assign.context}}</p>
                <h3>ส่งคำตอบ: </h3>
                {% if assign_check %}
                    <button type="button" class="btn btn-secondary me-auto" disabled>ส่งคำตอบแล้ว</button>
                {% else %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-info me-auto">ส่งคำตอบ</button>
                    </form>
                {% endif %}
            {% endfor %}
        </div>


        <div class="rightcolumn">
            {% load student_menu_tags %}
            {% student_menu course %}
        </div>

    </div>
</div>
{% endblock%}