version: "3.8"

services:
  pgdb:
    image: postgres:17
    container_name: pgdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    env_file:
      - .env

  django:
    build: .
    container_name: django
    depends_on:
      - pgdb
    env_file:
      - .env

  nginx:
    image: nginx:latest
    ports:
      - "8000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./static:/static:ro
      - ./media:/media:ro
    depends_on:
      - django

volumes:
  postgres_data: