asgiref
certifi
charset-normalizer
click
colorama
Django
django-widget-tweaks
django-crispy-forms
crispy-bootstrap4
django-embed-video
idna
Pillow
requests
sqlparse
tzdata
urllib3
slugify
sweetify
unidecode
django-hitcount
django-cleanup
psycopg2-binary
gunicorn
python-dotenv
whitenoise